# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
build/

# ML
ml/data/raw/*
ml/data/processed/*
!ml/data/raw/.gitkeep
!ml/data/processed/.gitkeep
*.ipynb_checkpoints/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db
