__pycache__/
*.pyc
.venv/
venv/

node_modules/
dist/
build/

ml/data/raw/*
ml/data/processed/*
!ml/data/raw/.gitkeep
!ml/data/processed/.gitkeep
*.ipynb_checkpoints/

.env
.env.local

.DS_Store
Thumbs.db
